<aside id="sidebar">

  <h1>Organizer and host</h1>
  <p>
    <a href="{{site.root}}/sponsors/praqma.html">Praqma</a>
  </p>

  <h1>Platinum and co-host</h1>
  <p>
    <a href="{{site.root}}/sponsors/ca.html">CA Technologies</a>
  </p>

  <h1>Sponsor packages</h1>
  <p>
    <a href="{{site.root}}/sponsors/packages.html">...read the details here</a>
  </p>




  <!--h1>Gold</h1>
  <p>
    <a href="mailto:events@praqma.com?subject=Please+contact+me+-+regarding+a+sponsorship+for+CoDe+CPH+2014">...You company here?</a>
  </p-->
<div style="height:15px"></div>
<div class="darkbox" style="height:70px;font-size:115%">
  <div style="float:left;"><h1>Become a sponsor!</h1></div>
  <div>
    <br/>If you are interested in becoming a sponsor at the conference and get a booth in   the exhibition area <a href="mailto:info@praqma.com?subject=Please+contact+me+regarding+sponsorship+of+CoDe+CPH" target="_blank"> Contact us</a>
  </div>
</div>
<div style="height:15px"></div>

{%include sponsor-slider-box.html%}


</aside>
