
  <aside id="sidebar">


<div style="height:15px"></div>
<div class="darkbox" style="font-size:115%">
  <h1>Become a sponsor!</h1>
If you are interested in becoming a sponsor at the conference and get a booth in  the exhibition area then <a href="{{site.root}}/sponsors/packages.html">read the details here</a> and then contact us at <a href="mailto:info@praqma.com?subject=Please+contact+me+regarding+sponsorship+of+CoDe+CPH" target="_blank"> Contact us</a>
</div>
<div style="height:15px"></div>

{%include sponsor-slider-box.html%}


</aside>
